<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="chats" th:fragment="chats" style="height: calc(100% - 110px);
  overflow-y: scroll;">
    <input type="hidden" id="sessionId" th:value="${session.id}">
    <input type="hidden" id="receiverId" class="receiverId" th:value="${user.id}">
    <div th:each="user : ${users}">
        <div th:if="${user.name} != ${session.name}">
            <a class="item" type="button" onclick="handle(this)">
                <input type="hidden"  class="receiverId" th:value="${user.id}">
                <input type="hidden" class="receiverName" th:value="${user.name}">
                <div class="userChat">
                    <img th:src="@{'/static/file-upload/' + ${user.avatar}}" alt=""/>
                    <div class="userChatInfo">
                        <span th:text="${user.name}"></span>
                        <p id="msg"></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

</body>
</html>