<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div id="message-template"  class="message owner" th:fragment="message">
    <div class="massageInfo">
        <img src="https://i.pinimg.com/736x/bd/6c/e3/bd6ce32f72f312c936f16ccf2e2c3e7d.jpg" alt=""/>
        <span>Just now</span>
    </div>
    <div class="messageContent" id="message">
        <p>Hello</p>
        <img src="https://i.pinimg.com/736x/bd/6c/e3/bd6ce32f72f312c936f16ccf2e2c3e7d.jpg" alt=""/>
    </div>
</div>
</body>
</html>