<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="FormContainer">
    <div class="FormWrapper">
        <span class="Logo">Box chat</span>
        <span class="tittle">Register</span>
        <form th:action="@{/register}" method="post" th:object="${user}" enctype="multipart/form-data"
               novalidate="novalidate">
            <label>
                <input type="text" name="name" placeholder="display name"/>
            </label>
            <label>
                <input type="email" name="email" placeholder="email" />
            </label>
            <label>
                <input type="password" name="password" placeholder="password" />
            </label>
            <input name="file" type="file" style="display:none" id="file"/>
            <label for="file">
                <img th:src="@{/img/addPhoto.png}" alt=""/>
                <span>add an avatar</span>
            </label>
            <button type="submit">Sign up</button>
        </form>
        <p>You do have an account? <a th:href="@{/login}">Login</a></p>

    </div>

</div>
</body>
</html>